body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #152025;
}
.showcase img{
    float: left;
    width: 54%;
    height: 88%;
    overflow: auto;
}
.content{
    float: left;
    width: 40%;
    padding: 70px 30px;
    display:flex;
    flex-direction: column;
}
.content i{
    color: #fff;
}
.content h1{
    margin-top: 45px;
    text-align: flex-start ;
    font-size: 74px;
    margin-left: 8px;
    word-spacing: 4px;
    color: #fff;
    font-family: 'Lato', sans-serif;
}
.content h2{
    margin-top: 15px;
    align-items: flex-start;
    font-size: 35px;
    word-spacing: 4px;
    color: #fff;
    font-family: 'Lato', sans-serif;
    margin-left: 5px;
}
.signup{
    display: flex;
    width: 70%;
    float: left;
    flex-direction: column;
    margin-top: 5%;
}
.google, .apple{
    background-color: blueviolet;
    color: #fff;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
}
.apple{
    margin-top: 5%;
}
.google:hover{
    opacity: .6;
}
.apple:hover{
    opacity: .6;
}
.terms p{
    float: left;
    width: 75%;
    color: #fff;
    font-size: 90%;
    text-align: flex-start;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: lighter;
    margin-bottom: 0;
}
.terms a{
    text-decoration: none;
    color: blueviolet;
}
.footer{
    text-align: center;
    text-decoration: none;
    margin-top: 0;
    padding-top: 0;
    display: block;

}
.copyright{
    width: 90%;
}
.footer a, .copyright a{
    text-decoration: none;
    color: #fff;
    margin: 1%;
}

.footer a:hover{
    font-weight: bolder;
}
@media screen and(max-width:900px){
    .showcase{
        display: none;
    }

}
